@tailwind base;
@tailwind components;
@tailwind utilities;


.parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));

}

.child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
}

.bg-img {
    background-image: url("https://img.freepik.com/premium-vector/bright-watercolor-colorful-splatter-stains-brush_544676-7.jpg");

    /* Control the height of the image */
    /* min-height: 380px; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    filter: blur(8px);
    -webkit-filter: blur(8px);

}

/* 147 51 234 */